<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPWRITE_ENDPOINT</key>
	<string>https://api.tcidpodcast.com/v1</string>
	<key>APPWRITE_PROJECT_ID</key>
	<string>tcidpodcast</string>
	<key>APPWRITE_DATABASE_ID</key>
	<string>tcid</string>
	<key>APPWRITE_CONSOLE_URL</key>
	<string>https://api.tcidpodcast.com/console/project-tcidpodcast</string>
	<key>ADMIN_DASHBOARD_URL</key>
	<string>https://admin.tcidpodcast.com/login</string>
	<key>ACCOUNT_DELETION_URL</key>
	<string>http://127.0.0.1:3001/api/account/delete</string>
</dict>
</plist>
